body {
    font-family: 'Merriweather', serif;
    background-color: #EFECEA;
}

#title {
    background-color: #F5F3F2;
    padding: 30px 22px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    text-align: center;
    font-size: 2em;
}

#title h5 {
    padding-top: 9px;
    font-size: 0.5em;
}

#root {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

#jornais, #candNums {
    font-size: 0.6em;
    margin-bottom: 30px;
}

.tick line{
    stroke: #C0C0BB;
}

.candi {
    font-size: 1.7em;
}

.barras {
    fill: #E3BA22;
}

.label {
    font-size: 2em;
    fill: #635f5d;
}

.graf {
    border: white;
    border-radius: 25px;
    border-style: solid;
    box-shadow: 1px 1px 5px rgb(54, 54, 54);
    padding-right: 10px;
}

.tick text{
    fill: #8E8883;
}

path {
    stroke: steelblue;
    fill: none;
    stroke-width: 1.5em;
    stroke-linejoin: round;
    stroke-linecap: round;
}